# EditorConfig File
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{json,md,py,rst}]
charset = utf-8

[*.{css,html,js,json,py,rst,tmpl,md}]
indent_size = 4
indent_style = space

[{package,package-lock}.json]
indent_size = 2

[Makefile]
indent_style = tab

