[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule ".config/alacritty-dark/themes"]
	path = .config/alacritty-dark/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule ".config/alacritty-framework16/themes"]
	path = .config/alacritty-framework16/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule ".config/alacritty-framework16-light/themes"]
	path = .config/alacritty-framework16-light/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes
