/* GIMP theme.css
 *
 * This file is written on GIMP startup and on every theme change.
 * It is NOT supposed to be edited manually. Edit your personal
 * gimp.css file instead (/home/lpham/.var/app/org.gimp.GIMP/config/GIMP/3.0/gimp.css).
 */

@import url("file:///app/share/gimp/3.0/themes/Default/gimp-gray.css");
@import url("file:///app/etc/gimp/3.0/gimp.css");

* { -gtk-icon-style: symbolic; }

/* prefer-dark-theme */

* { -GimpToolPalette-tool-icon-size: large-toolbar; }
* { -GimpDock-tool-icon-size: large-toolbar; }
* { -GimpDockbook-tab-icon-size: small-toolbar; }
* { -GimpColorNotebook-tab-icon-size: small-toolbar; }
* { -GimpPrefsBox-tab-icon-size: small-toolbar; }
* { -GimpEditor-button-icon-size: small-toolbar; }
* { -GimpDisplayShell-button-icon-size: small-toolbar; }
* { -GimpFgBgEditor-tool-icon-size: large-toolbar; }
toolpalette button { padding: 4px; }
button, tab { padding: 1px; }
paned separator { padding: 1px; }
* { font-size: 1.1499999999999999rem; }

/* end of theme.css */
